# Label encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df =pd.read_csv("iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.sample(15)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
46,47,5.1,3.8,1.6,0.2,Iris-setosa
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
93,94,5.0,2.3,3.3,1.0,Iris-versicolor
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
135,136,7.7,3.0,6.1,2.3,Iris-virginica
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
71,72,6.1,2.8,4.0,1.3,Iris-versicolor
73,74,6.1,2.8,4.7,1.2,Iris-versicolor
129,130,7.2,3.0,5.8,1.6,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica

In [6]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [7]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
df["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [9]:
label_encoder = LabelEncoder()

In [10]:
print(label_encoder)

LabelEncoder()

In [11]:
df["Species"] = label_encoder.fit_transform(df["Species"])

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [13]:
df["Species"].unique()

array([0, 1, 2])

In [14]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

In [15]:
df["Species"].value_counts()

Species
0    50
1    50
2    50
Name: count, dtype: int64